.main_heading_h {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 37rem;
}
