/* styles/globals.css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  margin: 1rem 35rem;
  width: 30%;
  height: 1.5rem;
  background-color: #000;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

li a:hover {
  color: blue;
}

#notfound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 25rem;
  flex-direction: column;
}

.notfound-404 {
  display: flex;
  align-items: center;
  font-size: 5rem;
  color: #94838327;
}

h2 {
  align-items: center;
  margin: 0 3rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  margin-top: -15rem;
}

p {
  align-items: center;
  padding: 0 8rem;
}

.anchor-home {
  background-color: blue;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #fff;
}

.anchor-home:hover {
  background-color: transparent;
  border: 1.5px solid blue;
  color: blue;
  transition: col 0.5s ease;
  -webkit-transition: co 0.5s ease;
  -moz-transition: co 0.5s ease;
  -ms-transition: co 0.5s ease;
  -o-transition: co 0.5s ease;
}
