.section {
  margin: 12rem 5rem;
}

.section.section_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

.hero_heading {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading_purpose {
  font-size: 1.8rem;
  color: navy;
}

.para {
  font-size: 1.7rem;
  color: saddlebrown;
}
